.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.apartmentCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}