.modalRegister {
  height: 100%;
  width: 90%;
}

.modalHeader {
    display: flex;
    flex-direction: row;
    float: left;
    align-self: start;
    color: rgba(23, 22, 22, 0.35);
}

.apartmentRegisterModal {
    display: flex;
    flex-direction: column;
    background-color: rgba(246, 243, 243, 1);
    border-radius: 5px;
    width: 30vw;
    height: 83vh;
    align-items: center;
    padding: 20px;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modalButtons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 5%;
}

.inputs {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    gap: 3vh;
    margin-top: 15px;
}

.divider {
    width: 100%;
}
